@model IEnumerable<WP_Proje.Models.Kategori>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAdi)
                @Html.ValidationMessageFor(modelItem => item.KategoriAdi,"", new { @style = "color:red"})
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KategoriId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KategoriId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KategoriId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
