@model IEnumerable<WP_Proje.Models.Kategori>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="container">
<p style="margin-top: 50px;">
    <a class="btn btn-success" asp-action="Create">Kategori Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAdi)
                @Html.ValidationMessageFor(modelItem => item.KategoriAdi,"", new { @style = "color:red"})
            </td>
            <td>
                <a class="button btn-info" asp-action="Edit" asp-route-id="@item.KategoriId">Düzenle</a> 
                <a class="button btn-danger" asp-action="Delete" asp-route-id="@item.KategoriId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
