@model IEnumerable<WP_Proje.Models.SepetDetay>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SepetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrunNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resim)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SepetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stok)
            </td>
            <td>
                <img src="~/images/@Url.Content(item.Resim)" height="300" width="270">
            </td>
  
        </tr>
}
        
    </tbody>
</table>
