@model WP_Proje.Models.Sepet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Sepet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SepetFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SepetFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kullanici)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kullanici.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SepetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
