@model IEnumerable<WP_Proje.Models.Cicek>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Ürünler</title>

<html lang="en">

            @foreach (var item in Model)
            {
                <head>
                    <title>Harvest vase</title>
                    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
                    <link rel="stylesheet" href="~/css/Urunler.css">
                </head>

                <body>
                    <div class="wrapper" style="margin-left:4%; margin-right:1%; margin-top:15%">
                        <div class="product-img">
                            <img src="~/images/@Url.Content(item.Resim)" height="420" width="327">
                        </div>
                        <div class="product-info">
                            <div class="product-text">
                                <h1>@Html.DisplayFor(modelItem => item.Isim)</h1>
                                <h2 style="color:deeppink">Stok: @Html.DisplayFor(modelItem => item.Stok)</h2>
                                <p>@Html.DisplayFor(modelItem => item.Bilgi)</p>
                            </div>
                            <div class="product-price-btn">
                                <p><span>@Html.DisplayFor(modelItem => item.Fiyat)</span>₺</p>
                                @*<button type="button">Sepete Ekle </button>*@
                                <a class="btn btn-info" asp-controller="SepetDetay" asp-action="Index" asp-route-urunId="@item.CicekId" asp-route-sepetId="@ViewBag.sepetId">Sepete Ekle</a> |
                            </div>
                        </div>
                    </div>

                </body>
            



             }

</html>
